<div class="admin_trips span12">
  {{#each trip in controller }}
  <div class="trip">
    <div class="header">{{trip.name}}</div>
    <div class="dates">{{trip.startDate}} - {{trip.endDate}}</div>
    <div class="details">{{trip.description}}</div>
  </div>
  {{/each}}
</div>

<div class="detail_view span-12">
  <h2>Details</h2>
</div>
